.font_12{
	font-size: 12px;
}
.modal-header{
	padding: 15px;
	border: none;
}

#GroupForm_two{
	padding: 0 15px;
}
#GroupForm_two table{
	width: 100%;
}
#GroupForm_two table thead{
	background: #F5F5F5;
}
#GroupForm_two table tr td.td_name a{
	font-weight: bold;
	text-decoration: none;
}
#GroupForm_two table tr td,#GroupForm_two table th{
	padding: 10px ;
	border:1px solid #eee;
	text-align: center;
}
select[name="type_id"]{
	height: 30px;
	border: solid 1px #ccc;
	font-size: 12px;
	color: #666;
	width: 132px;
}
.handle,.attr_name{
	min-width: 70px;
}
/*分页*/
.page-bootstrap {
    text-align: right;
    margin: 15px 0;
    overflow: hidden;
}

.page-bootstrap li {
    float: left;
}

.page-bootstrap li.active span {
    background: #5a98de;
    color: #fff;
}

.page-bootstrap li.disabled span {
    background: #e0e0e0;
}

.page-bootstrap li a, .page-bootstrap li span {
    color: #666;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin: 3px;
}
.pagination{
	float: right;
}
/*搜索框 select样式*/
#txtKeywords{
	width: 150px;
	height: 30px;
	border: 1px solid #eee;
	padding: 0 5px;
	float: left;
}
#lbtnSearch{
    margin: 0 0 0 -1px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    background: url(../images/skin_icons.png) -160px -20px no-repeat #fafafa;
    cursor: pointer;
    text-indent: -9999px;
}
.button_check{
	border-radius: 0;
	padding: 2px 6px ;
	height: auto;
	font-size: 12px;
}
