<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- intoHead Start -->
		{include file="common/intohead" /}
		<!-- /intoHead End -->
	</head>
	<body class="mainbody">
		<!--导航栏-->
		{include file="common/position" /}
		<!--/导航栏-->

		<div class="line10"></div>

		<div id="floatHead" class="content-tab-wrap">
			<div class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul style="width: 100%;">

							<!--由于获取不到Config，所以用php赋值一次Think.config.config_group_list-->
							{php}$config_group_list = Config::get()['config_group_list'];{/php}
							{volist name="config_group_list" id="group"}
		                        <li><a href="{:url('admin/system/setConfig',array('id'=>$key))}" {eq name="id" value="$key" }class="selected"{/eq}>{$group}配置</a></li>
		                    {/volist}

					</ul>
				</div>
			</div>
		</div>
		<!--/选项卡-->

		<!--内容-->
		<form id="formData" action="{:url('admin/system/saveAllConfig')}" method="POST" onsubmit="return false">
			<div class="tab-content">
				{volist name="list" id="config" empty="数据为空！请前往“配置管理”处添加"}
					<dl>
						<dt>{$config.title}</dt>
						<dd>
							{switch name="config.type"}
	                            {case value="0"}
									<input name="config[{$config.name}]" type="text" value="{$config.value}" id="" placeholder="{$config.default}" class="input normal" datatype="*2-255" sucmsg=" ">
								{/case}
								{case value="1"}
									<input name="config[{$config.name}]" type="text" value="{$config.value}" id="" placeholder="{$config.default}" class="input normal" datatype="*2-255" sucmsg=" ">
								{/case}
								{case value="2"}
									<textarea name="config[{$config.name}]" rows="2" cols="20" id="" placeholder="{$config.default}" class="input">{$config.value}</textarea>
								{/case}
								{case value="3"}
									<textarea name="config[{$config.name}]" rows="2" cols="20" id="" placeholder="{$config.default}" class="input">{$config.value}</textarea>
								{/case}
								{case value="4"}
									<div class="rule-single-select single-select" style="position:relative;">
										<select name="config[{$config.name}]" id="" datatype="*" sucmsg="">
											{volist name=":parse_config_attr($config['extra'])" id="vo"}
												<option value="{$key}" {eq name="config.value" value="$key"}selected{/eq} >{$vo}</option>
											{/volist}
										</select>
									</div>
									<span class="Validform_checktip" style="position:absolute;left:304px;top:7px;">{$config.remark}</span>
								{/case}
							{/switch}
							{in name="config['type']" value="0,1,2"}
	                            <span class="Validform_checktip ">{$config.remark}</span>
	                        {/in}
						</dd>
					</dl>
				{/volist}
			</div>

			<div class="page-footer">
				<div class="btn-wrap" style="position: static;">
					<input type="submit" value="提交保存" id="btnSubmit" class="btn ajaxSubmit">
					<input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);">
				</div>
			</div>
		</form>
		<!--/内容-->

		<!--数据提交-->
		<!-- {include file="common/submit" /} -->
		<!--/数据提交-->
	</body>
</html>