/* empty */
.no-data-info {
    height: 200px;
    font-size: 14px;
    line-height: 200px;
}
.console-box-border {
    border: 1px solid #E1E6EB;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
/* empty */
/* page */
.page {
    height: 40px;
    width: auto;
    text-align: right;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size:12px;
}

.page a {
    height: 25px;
    width: auto;
    display: inline-block;
    color: #333;
    border: 1px solid #CCC;
    text-decoration: none;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F9F9F9;
}
.page .current {
    height: 25px;
    width: auto;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 25px;
    display: inline-block;
    background-color: #09F;
    color: #FFF;
    border: 1px solid #555;
}
.page a:hover {
    background-color: #09F;
    color:#FFF;
    border: 1px solid #09F;
}
/* page */
/* table */
.tab {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #fff #fff;
    text-shadow: 0 1px 0 #FFFFFF;
    border-collapse: separate;
    font-size:12px;
}
.tab td {
    padding: 0px 10px;
    margin: 15px 0;
    line-height:28px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #ddd #ddd;
}
.tab thead td { text-align: center; }
.tab tbody tr:hover { background: #fff; }
.mac-size{font-size:14px;}
label{display:inline-block;height:34px;line-height:34px;margin-bottom:0px !important;margin-right:10px;font-weight:normal;}
input[type="radio"]{position:relative;top:2px;}
::-webkit-input-placeholder {
    color: #999;
    font-size:12px;
}

:-moz-placeholder {
    color: #999;
    font-size:12px;
}

::-moz-placeholder {
    color: #999;
    font-size:12px;
}

:-ms-input-placeholder {
    color: #ccc;
}
/* table */
/* select */
select {
    width: 378px;
    height: 29px;
    border: 1px solid #dddddd;
    line-height: 29px;
}
/* select */
/* dailog */
.demo-value{
    width: 390px;
    height: 160px;
    margin: 0 auto;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
}
.layui-layer{
    border-radius:0px !important;
}
.demo-value .demo-alert{
     width: 100%;
     height: 35px;
     padding-top:35px;
     text-align: center;
     background: #fff;
 }
.demo-value .demo-alert .demo-alert-true{
    font-size: 16px;
    font-weight: bold;
    font-family:'微软雅黑';
}
.demo-value .demo-alert .demo-link{
    font-size: 14px;
}
.modal-footer {
    padding: 10px 0;
    padding-right: 27px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top:35px;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn {
    display: inline-block;
    padding: 6px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: 0px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-primary {
    color: #ffffff;
    background-color: #313f63;
    border-color: #313f63;
    border-radius: 0px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}
/* dailog */
.red{color:red;font-weight:bold;}
.green{color:green;font-weight:bold;}
 input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px #fff inset;
}