{include file="./application/admin/view/builder/Fields/text.html"/}{// 文本 } 
{include file="./application/admin/view/builder/Fields/number.html"/}{// 数字 }
{include file="./application/admin/view/builder/Fields/date.html"/}{// 日期 } 
{include file="./application/admin/view/builder/Fields/datetime.html"/}{// 时间 }  
{include file="./application/admin/view/builder/Fields/hidden.html"/}{// 隐藏 } 
{include file="./application/admin/view/builder/Fields/password.html"/}{// 密码 } 
{include file="./application/admin/view/builder/Fields/textarea.html"/}{// 内容编辑框 }
{include file="./application/admin/view/builder/Fields/kindeditor.html"/}{// 内容编辑框 }
{include file="./application/admin/view/builder/Fields/radio.html"/}{// 单选框 } 
{include file="./application/admin/view/builder/Fields/checkbox.html"/}{// 复选框 } 
{include file="./application/admin/view/builder/Fields/select.html"/}{// 下拉框 } 
{include file="./application/admin/view/builder/Fields/email.html"/}{// 邮箱 } 
{include file="./application/admin/view/builder/Fields/avatar.html"/}{//头像 } 
{include file="./application/admin/view/builder/Fields/picture.html"/}{// 图片 }  
{include file="./application/admin/view/builder/Fields/info.html"/}{// 信息 }
{include file="./application/admin/view/builder/Fields/self.html"/}{// 自定义表单内容 } 
{include file="./application/admin/view/builder/Fields/figure.html"/}{// 多图上传 } 