@charset "utf-8";
#conversion-list li{
    width:33.333333%;
    text-align:center;
}
#conversion-list li a{
    padding: 0.3rem;
    color: #000;
    font-size: 0.35rem;
}
#conversion-list li.active a {
    background-color: #F2DEDE;
}

#tab_content_2 .conversion1{
    width: 100%;
    height: 3rem;
    background-color: #FF2244;
    color: #fff;
    font-size: 0.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.conversion1>div{
    line-height: 1rem;
}
/*掌聚宝确认弹框*/
.cover_1{
    position: fixed;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}
.cover_1 .frame{
    position: absolute;
    width: 80%;
    height: 5rem;
    left: 10%;
    top: 50%;
    margin-top: -4rem;
    background: #fff;
    border-radius: .3rem;
    overflow: auto;
    box-sizing: border-box;
    padding: 1.2rem;
    font-size: 0.35rem;
    line-height: 0.6rem;
}
.cover_1 .sure{
    width: 100%;
    margin-top: 0.5rem;
}

/*积分+现金*/
.formData .cash{
    width: 4rem;
    height: 1rem;
    border-radius: 5px;
    outline: 0;
    border:1px solid #A9A9A9;
    box-sizing: border-box;
    text-align: left;
    padding:0.2rem;
}
.formData .tip{
    text-align:left;
    font-size:0.3rem;
}

/*积分+注册积分*/
#tab_content_3 .conversion1{
    width: 100%;
    height: 3rem;
    background-color: #FF2244;
    color: #fff;
    font-size: 0.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.formData{
    width: 7rem;
    margin: 2rem auto 0;
    font-size: 0.4rem;
    text-align: center;
}
.formData .tip{
    text-align: left;
    font-size: 0.3rem;
}
.formData .cash_1 {
    width: 4rem;
    height: 1rem;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
    text-align: left;
    padding: 0.2rem;
}
.formData div input{
    border: 0;
    outline: 0;
    margin-top: 0.4rem;
    width: 4.3rem;
    background-color: #fff;
    color: #000;
}
.btnSubmit {
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    background-color: #FF2244;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 0.35rem;
    margin: 2.4rem auto;
    outline: 0;
    border: 0;
}