@charset "utf-8";

.conversion{
    width:100%;
    height:3rem;
    background-color:#FF2244;
    color:#fff;
    font-size:0.4rem;
    padding:0.5rem;
    box-sizing: border-box;
    text-align: center;
}
.conversion>div{
    line-height:1rem;
}
body{ background-color:#fff;}

.formData{
    width:6.4rem;
    margin:1rem auto 0;
    font-size:0.4rem;
}
.formData:before{
    content:"";
    display:table;
    clear:both;
    height:0;
    visibility:hidden;
}
.formData div input{
    border:0;
    outline:0;
    margin-top:0.4rem;
    width:4.3rem;
    background-color:#fff;
    color:#000;
}
.iphone,.pwd,.count{
    height:1.07rem;
    box-sizing: border-box;
    border-bottom:1px solid #ccc;
    /*padding-top:0.4rem;*/
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ddd;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ddd;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#ddd;
}
/* input获取焦点 placeholder消失-开始 */
/* WebKit browsers */
input:focus::-webkit-input-placeholder {
    color: transparent;
}
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus{
    color:#fff;
}

.btnSubmit{
    width:100%;
    height:1.1rem;
    line-height:1.1rem;
    background-color:#FF2244;
    color:#fff;
    border-radius:5px;
    text-align:center;
    font-size:0.35rem;
    margin:2.4rem auto;
    outline:0;
    border:0;
}
/*错误提示语*/
.formData div.msg{
    font-size:0.2rem;
    color:red;
}
