.tc{
    text-align:center;
}
body,figure,figcaption,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,a,p,form,texarea{
    margin: 0;
    padding: 0;
}
figure{
    position: relative;
}
figure img{
    opacity: 0.8;
    transition: all 0.01s;
}
figure figcaption p,h2,span,div{
    transition: all 0.01s;
}
figure figcaption p{
    transition: 0.01s;
}
figcaption{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
}
*{
    padding: 0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration:none;
    display: block;
    color: white;
}

img{
    border: none;
    display: block;
}

.clearfloat{
    zoom:1;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}